body {
    font-family: Arial, sans-serif;
}

.slider {
    position: relative;
    max-width: 100vw; 
    margin: auto;
    overflow: hidden;
}

.slides-container {
    display: flex;
    width: 300%; 
    transition: transform 1s ease-in-out;
}

.slide {
    width: 100vw; 
    box-sizing: border-box; 
}

.slide img {
    width: 100%; 
    height: auto; 
    display: block; 
}
.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}
